.intro-wrapperss{
    width: 80%;
    margin:auto;
    margin-top: 176px;
    color: rgb(133,14,53);
    display: flex;
    justify-content: space-between;
}
.intro-head{
    text-align: right;
    width: 50%;
    padding-top: 25px;
    padding-right: 30px;
    font-family: 'Ubuntu',serif;
    font-size: 62px;
    float:left;
    padding-left:100px;
}
.intro-info{
    text-align: left;
}
.intro-name{
    line-height: 65px;
}
.intro-def{
    padding-top: 10px;
    font-family: 'Ubuntu',serif;
    font-size: 22px;
    word-break: normal;
}
.email-wrapper{
    background-color: #850E35;
    color:white;
    padding:20px 30px;
    letter-spacing: 3px;
    border-radius: 10px;
    text-align: left;
    width: 57%;
}
.intro-image{
    text-align: left;
    width: 50%;
    padding-right: 30px;
}
.hr{
    border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #850E35;
    box-shadow: 0 20px 20px -20px #850E35;
    margin: -50px auto 10px; 

}

