.intro-wrapper-1{
    width: 100%;
    margin-top: 200px;
    color: rgb(133,14,53);
    display: flex;
    justify-content: space-between;
}
.intro-head{
    font-family: 'Ubuntu',serif;
    font-size: 62px;
    float:left;
    padding-left:20px;
}
.intro-def{
    text-align: right;
    padding-top:60px;
    padding-right:20px;
    font-family: 'Ubuntu',serif;
    font-size: 22px;
    word-break: normal;
}

.intro-wrapper-2{
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.email-wrapper{
    background-color: #850E35;
    color:white;
    padding:20px 50px;
    letter-spacing: 3px;
    border-radius: 10px;
}

/*-----*/
.stack-name{ 
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
}
.mern-logo{
    border-radius: 50%;
}
.mern-stack{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    word-spacing: 5px;
    width: 250px;
    padding-left:10px;
}

